.card {
  display: flex;
  gap: var(--space-6);
  align-items: baseline;
  transition: var(--time-1) ease-in-out;
  transition-property: color, background-color;
  border-radius: var(--border-radius);
  background-color: var(--card-bg);
  padding: var(--space-5);
  text-decoration: none;
  color: var(--card-fg);

  &__media {
    border-radius: var(--border-radius);
    aspect-ratio: 1;
    width: var(--space-10);
    object-fit: cover;
  }

  &__author {
    align-self: start;
    width: var(--space-9);
    text-align: center;
    font-size: var(--font-size-2);
  }

  &__body {
    flex: 1;

    @media (--for-tablet-portrait-up) {
      display: flex;
      gap: var(--space-6);
    }
  }

  &__name {
    font-size: var(--font-size-3);
  }

  &__name,
  &__username {
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__content {
    flex: 1;
  }

  &__title {
    letter-spacing: var(--letter-spacing-1);
    font-size: var(--font-size-6);
    font-weight: normal;
  }

  &__subtitle {
    font-size: var(--font-size-1);
  }

  &__text {
    margin-top: var(--space-4);
  }

  &__actions {
    align-self: end;
  }

  &__btn {
    background-color: var(--card-btn-bg);
    padding: var(--space-3);
    font-size: var(--font-size-2);

    &:hover,
    &:focus {
      background-color: var(--card-btn-hover-bg);
    }
  }
}
