.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  transition: var(--time-1) ease-in-out;
  transition-property: color, background-color;
  border-radius: var(--border-radius);
  background-color: var(--card-bg);
  padding: var(--space-5);
  text-decoration: none;
  color: var(--card-fg);

  &__media {
    border-radius: var(--border-radius);
    aspect-ratio: 1;
    width: var(--space-10);
    object-fit: cover;
  }

  &__media-like {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--header-fg);
    aspect-ratio: 1;
    width: var(--space-7);
    color: var(--header-bg);
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-bold);
  }

  &__author {
    display: flex;
    flex-grow: 0;
    gap: var(--space-4);
    border-bottom: 1px solid;
    padding-bottom: var(--space-4);
    text-align: center;
    font-size: var(--font-size-2);

    @media (--for-tablet-portrait-up) {
      flex-direction: column;
      border: none;
      padding: 0;
    }
  }

  &__body {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--space-6);

    @media (--for-tablet-portrait-up) {
      flex-direction: row;
    }
  }

  &__name {
    font-size: var(--font-size-3);
  }

  &__username {
    font-weight: var(--font-weight-bold);
  }

  &__name,
  &__username {
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__content {
    flex: 1;
  }

  &__title {
    letter-spacing: var(--letter-spacing-1);
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-bold);
  }

  &__subtitle {
    font-size: var(--font-size-1);
  }

  &__text {
    margin-top: var(--space-4);
  }

  &__actions {
    align-self: end;
  }

  &__btn {
    background-color: var(--card-btn-bg);
    padding: var(--space-3);
    font-size: var(--font-size-2);

    &:hover,
    &:focus {
      background-color: var(--card-btn-hover-bg);
    }
  }

  @media (--for-tablet-portrait-up) {
    flex-direction: row;
    align-items: baseline;
  }
}
