.page {
  display: flex;
  flex-direction: column;
  background-color: var(--page-bg);
  min-height: 100dvh;
  overflow-y: scroll;
  color: var(--page-fg);
  font-size: var(--font-size-3);

  &__container {
    margin: 0 auto;
    padding: var(--space-3);
    max-width: var(--space-17);
  }

  &__main {
    flex: 1;
  }
}
